.App {
  display: flex;
}
.sidebar {
  flex: 2;
  text-align: center;
}
.graph {
  flex: 9;
}
@media only screen and (max-width: 600px) {
  .App {
    display: block;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input{
  padding:0.2rem 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid rebeccapurple;
  text-align: center;
  border-radius: 0.3rem;
}